.hand {
    padding: 1rem;
    border-radius: 6px;
    background-color: #f8dfff;
    text-align: center;
    justify-content: space-around;
    height: 10rem;
}

.left {
    background-color: red;
}

.right {
    background-color: green;
}